USE [Dubkova_DB_Payment]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 05.11.2025 14:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 05.11.2025 14:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Num] [decimal](18, 0) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05.11.2025 14:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[FIO] [varchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Category] ([ID], [Name]) VALUES (0, N'Рестораны')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'Одежда')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'Такси')
GO
INSERT [dbo].[Payment] ([ID], [UserID], [CategoryID], [Date], [Name], [Num], [Price]) VALUES (0, 2, 0, CAST(N'2025-11-01' AS Date), N'Поход в ресторан', CAST(3 AS Decimal(18, 0)), CAST(5000 AS Decimal(18, 0)))
INSERT [dbo].[Payment] ([ID], [UserID], [CategoryID], [Date], [Name], [Num], [Price]) VALUES (1, 1, 1, CAST(N'2025-11-01' AS Date), N'Покупка футболки', CAST(1 AS Decimal(18, 0)), CAST(3500 AS Decimal(18, 0)))
INSERT [dbo].[Payment] ([ID], [UserID], [CategoryID], [Date], [Name], [Num], [Price]) VALUES (2, 1008, 7, CAST(N'2025-11-05' AS Date), N'Закупка материалов', CAST(15 AS Decimal(18, 0)), CAST(185000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [Role], [FIO], [Photo]) VALUES (1, N'admin666', N'2EC10E4F7CD2159E7EA65D2454F68287ECF81251', N'admin', N'Булаткин Егор Николаевич', N'https://avatars.mds.yandex.net/i?id=0141fb3c913d89fdfd20839672757fc6596ba1af-4552383-images-thumbs&n=13')
INSERT [dbo].[User] ([ID], [Login], [Password], [Role], [FIO], [Photo]) VALUES (2, N'Veronika', N'E0D0D0B128C50F5060C3D21254974BD594AF783C', N'user', N'Дубкова Вероника Александровна', NULL)
INSERT [dbo].[User] ([ID], [Login], [Password], [Role], [FIO], [Photo]) VALUES (1002, N'Petrov', N'5C1A596B4D7DEF1E32205A156E4960ECF69975B0', N'user', N'Петров Андрей Александрович', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Category]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
